<h1>Create new test</h1>
<hr>
<form method="post">
    Username: <input type="text" name="username"><br>
    {% for question in questions %}
        <h3><input type=checkbox name="question[]" value="{{ question.id }}"> {{ question.question }}</h3>
        {% for answer in question.answers %}
            <input type=radio name="answer_{{ question.id }}" value="{{ answer.id }}"> {{ answer.answer }}<br>
        {% endfor %}
    {% endfor %}
    <hr>
    <button type="submit">Save test</button>
</form>