<h1>Check how you know your friend "{{ userTest.name }}"</h1>
<hr>
<form method="post">
    {% for userAnswer in userTest.userAnswers %}
        <h3>{{ userAnswer.question.question }}</h3>
        {% for answer in userAnswer.question.answers %}
            <input type=radio name="answer_{{ userAnswer.question.id }}" value="{{ answer.id }}"> {{ answer.answer }}<br>
        {% endfor %}
    {% endfor %}
    <hr>
    <button type="submit">Check test</button>
</form>