<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
</head>
<script>

    function statusChangeCallback(response)
    {
        if(response.status === 'connected') {
            $('.fb-login').hide();
            $.ajax(
                '/api/login',
                {
                    'data': response.authResponse,
                    'success': function (response) {
                        $('.fb-user img').attr('src', response.image);
                        $('.fb-user .user-name').text(response.name);
                    }
                }
            );
        }
    }

    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '361763250941822',
            cookie     : true,
            xfbml      : true,
            version    : 'v2.8'
        });

        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    };

    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>
<body>

<div class="fb-login">
    <fb:login-button
            scope="public_profile"
            onlogin="checkLoginState();">
    </fb:login-button>
</div>
<div class="fb-user">
    <img src="#">
    <div class="user-name"></div>
</div>

</body>
</html>